@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Varela Round', sans-serif;
}

a {
  text-decoration: none;
  font-size: 20px;
}

header {
  background-image: url('./images/game_of_thrones_banner.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  margin: 0;
}

header,
footer,
.navbar {
  width: 100%;
  height: 100px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 50px;
  display: flex;
  align-items: center;
  z-index: 10;
  background-color: #bcb2b2;
  color: #080707;
  padding: 5px 20px;
  flex-wrap: wrap;
}

header,
.brand,
.navs,
.navbar {
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
}

.navs {
  gap: 60px;
  width: 60%;
  padding-right: 60px;
}

#logo {
  height: 100px;
  margin: 0;
  padding: 0;
}

.navlink {
  color: whitesmoke;
}

.brand-name {
  font-size: 35px;
  padding: 0 10px;
  color: whitesmoke;
}

#throne-stars {
  text-decoration: underline;
}

#nos-species {
  font-size: 18px;
}
